h1{
  text-align: center;
}

h2{
  text-align: center;
}

#orderDisplay, #costDisplay, #confirmDisplay{
  display: none;
}

#costs{
  display: flex;
  justify-content: space-between;
}

#itemList{
  justify-content: right;
}

#costList{
  justify-content: left;
}