body{
  display: block;
  background: url("../img/background.jpg") repeat;
  background-color: #cccccc;
  color: #f2f2f2;
  font-family: cursive;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  font-size: 30pt;
  color: #e60000;
  text-shadow: black 1px 1px;
}

h3{
  font-size: 25pt;
  font-style: italic;
}

h4{
  font-size: 20pt;
  color: #ff3333;
  text-shadow: black 1px 1px;
}

p, li{
  font-size: 16pt;
}

label{
  font-size: 18pt;
}

input[type="checkbox"]{
  margin-right: 10px;
}

input[type="checkbox"]+label{
  font-size: 14pt;
}

img{
  max-width: 100%;
  height: auto;
  width: auto;
}

.jumbotron{
  background-color: #800000;
  color: #f2f2f2;
  border: 4px double #a6a6a6;
  font-family: fantasy;
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: black 2px 2px;
}

.btn{
  margin-right: 20px;
}

.toppingDiv{
  width: 50%;
}

#orderDisplay, #costDisplay, #confirmDisplay{
  display: none;
}

#orderDisplay{
  background-image: url("../img/pizzaTopping.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#image{
  display: block;
  text-align: center;
}

#costs{
  display: flex;
  justify-content: space-between;
}

#itemList{
  justify-content: right;
}

#costList{
  justify-content: right;
  text-align: right;
}

.grow:hover{
  transform: scale(1.2);
}

@keyframes wiggle{
  20%{
    transform: translateX(3px);
  }
  40%{
    transform: translateX(-3px);
  }
  60%{
    transform: translateX(2px);
  }
  80%{
    transform: translateX(-1px);
  }
  100%{
    transform: translateX(0);
  }
}

.wiggle:hover{
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
}

@keyframes wobble{
  0% { 
    transform: translateX(0%); 
  } 
  15% { 
    transform: translateX(-25%) rotate(-15deg); 
  } 
  30% { 
    transform: translateX(20%) rotate(9deg); 
  } 
  45% { 
    transform: translateX(-15%) rotate(-9deg);
  } 
  60% { 
    transform: translateX(10%) rotate(6deg); 
  }
  75% { 
    transform: translateX(-5%) rotate(-3deg); 
  }
  100% { 
    transform: translateX(0%); 
  } 
}

.wobble:hover{
  animation: wobble 3s ease;
  animation-iteration-count: 1;
}